@page "/AddBirthday"
@using MærkeDag.Data
@using System.Globalization;
@inject BirthdayDbService bdayService
@inject NavigationManager NavManager

<h3>Add Birthday</h3>
<hr />

<form>
    <div class="row">
        <div class="cold-md-8">

            <div class="for-group">
                <label for="Name" class="control-label"><strong>Navn:</strong></label>
                <input form="Name" class="form-control" placeholder="Indtast Navn" @bind=@obj.Name/>
            </div>
            <div class="for-group">
                <label for="birthday" class="control-label"><strong>Birth (dd-MM-yyyy)</strong></label>
                <input form="birthday" class="form-control" type="date" @bind=@obj.Birthday />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateBirthday" value="Save" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</form>

@code {
    Birth obj = new Birth();
    int currentYear = DateTime.Now.Year;

    protected override void OnInitialized()
    {
        obj.Birthday = DateTime.Now;
    }

    protected async void CreateBirthday()
    {
        await bdayService.AddBirthday(obj);
        NavManager.NavigateTo("Birthday");
    }
    protected async void Cancel()
    {
       NavManager.NavigateTo("Birthday");

    }
}
