@page "/AddHoliday"
@using MærkeDag.Data
@using System.Globalization;
@inject NavigationManager NavManager
@inject HolidayDbService holidayService

<h3>Add Holiday</h3>


<form>
    <div class="row">
        <div class="cold-md-8">

            <div class="for-group">
                <label for="Name" class="control-label"><strong>Navn:</strong></label>
                <input form="Name" class="form-control" placeholder="Indtast Navn" @bind=@obj.Name/>
            </div>
            <div class="for-group">
                <label for="birthday" class="control-label"><strong>Birth (dd-MM-yyyy)</strong></label>
                <input form="birthday" class="form-control" type="date" @bind=@obj.Date />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Create" value="Save" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</form>


@code {

    Holiday obj = new Holiday();
    int currentYear = DateTime.Now.Year;

    protected override void OnInitialized()
    {
        obj.Date = DateTime.Now;
    }

    protected async void Create()
    {
        await holidayService.AddHoliday(obj);
        NavManager.NavigateTo("Holiday");
    }
    protected async void Cancel()
    {
       NavManager.NavigateTo("Holiday");

    }
}
