@page "/Birthday"
@using MærkeDag.Data
@inject BirthdayDbService bdayService

<NavLink class="nav-link" href="AddBirthday"> 
    <span class="oi oi-plus" aria-hidden="true">Add New Birthday</span>
</NavLink>

<h3>Fødselsdage Lister</h3>

@if(BdayObject is null)
{
    <p>><em>Loading.....</em></p>
}else
{
    <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Navn
                </th>
                <th>
                    Følselsdag
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        <tbody>
            @foreach(var bday in BdayObject)
            {
                <tr>

                    <td>
                        @bday.ID
                    </td>
                    <td>
                        @bday.Navn
                    </td>
                    <td>
                        @bday.Følselsdag.ToShortDateString()
                    </td>
                    <td>
                        <a class="nav-link btn btn-primary" href="Edit/@bday.ID">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a class="nav-link btn btn-danger" href="Delete/@bday.ID">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    List<Birthday> BdayObject;

    protected override async Task OnInitializedAsync()
    {
        BdayObject  = await Task.Run(() => bdayService.GetBirthdays());
    }
}
