@page "/Edit/{Id}"
@using MærkeDag.Data
@using System.Globalization;
@inject BirthdayDbService bdayService
@inject NavigationManager NavManager

<h3>Edit</h3>
<hr />

<form>
    <div class="row">
        <div class="cold-md-8">

            <div class="for-group">
                <label for="Name" class="control-label"><strong>Navn</strong></label>
                <input form="Name" class="form-control" @bind=@obj.Navn/>
            </div>
            <div class="for-group">
                <label for="birthday" class="control-label"><strong>Birthday</strong></label>
                <input form="birthday" class="form-control" type="date" @bind=@obj.Følselsdag />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group ">
                <input type="button" class="btn btn-primary" @onclick="@UpdateUserDetails" value="Update" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</form>

@code {

    [Parameter]

    public string Id { get; set; }

    Birthday obj = new Birthday();

    protected override void OnInitialized()
    {
        obj.Følselsdag = DateTime.Now;
    }

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => bdayService.GetInfoByID(Convert.ToInt32(Id)));
    }

    protected async void UpdateUserDetails()
    {
        await bdayService.UpdateUser(obj);
        NavManager.NavigateTo("Birthday");
    }
    protected async void Cancel()
    {
       NavManager.NavigateTo("Birthday");

    }
}
