@page "/EditHoliday/{Id}"

@using MærkeDag.Data
@using System.Globalization;
@inject NavigationManager NavManager
@inject HolidayDbService holidayService

<h3>Edit</h3>
<hr />

<form>
    <div class="row">
        <div class="cold-md-8">

            <div class="for-group">
                <label for="Name" class="control-label"><strong>Holiday Name</strong></label>
                <input form="Name" class="form-control" @bind=@obj.Name />
            </div>
            <div class="for-group">
                <label for="birthday" class="control-label"><strong>Date</strong></label>
                <input form="birthday" class="form-control" type="date" @bind=@obj.Date />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group ">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="Update" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</form>

@code {

    [Parameter]

    public string Id { get; set; }

    Holiday obj = new Holiday();

    protected override void OnInitialized()
    {
        obj.Date = DateTime.Now;
    }

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => holidayService.GetInfoByID(Convert.ToInt32(Id)));
    }

    protected async void Update()
    {
        await holidayService.Update(obj);
        NavManager.NavigateTo("Holiday");
    }
    protected async void Cancel()
    {
       NavManager.NavigateTo("Holiday");

    }
}

