@page "/Holiday"
@using Data
@using Microsoft.EntityFrameworkCore
@inject HolidayDbContext dbContext

<h1>Holidays List</h1>

<NavLink class="nav-link" href="AddHoliday"> 
    <span class="oi oi-plus" aria-hidden="true"> Add Holiday</span>
</NavLink>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Holiday Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var holiday in holidays)
        {
            <tr>
                <td>@(holiday.Date.ToString("MMMM d, yyyy")[0].ToString().ToUpper() + holiday.Date.ToString("MMMM d, yyyy").Substring(1))</td> 
                <td> 
                        @holiday.Name
                    </td>
                <td class="actionButtons">
                    <a class="nav-link btn btn-primary" href="EditHoliday/@holiday.ID">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                    </a>
                    <a class="nav-link btn btn-danger" href="DeleteHoliday/@holiday.ID">
                        <span class="oi oi-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Holiday> holidays;
    private bool showPopup = false;

    protected override void OnInitialized()
    {
        // Fetch holidays from the database
        holidays = dbContext.Holidays.ToList();

        holidays = dbContext.Holidays.OrderBy(h => h.Date).ToList();

    }
}
