/* Calendar Styles */
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 100px; /* Adjust the gap between columns and rows */
}

.table {
    border-collapse: collapse;
    width: 80%;
}

    .table th,
    .table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    .table th {
        background-color: #f0f0f0;
    }

    /* Style for the day numbers */
    .table td {
        font-weight: bold;
    }

/* Style for the holiday text */
.holiday-text {
    color: #e74c3c; /* Red color for holidays */
    font-weight: bold;
}

/* Month Navigation Styles */
.month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* List of Holidays Styles */
.holidays {
    margin-top: 20px;
}

    /* Style for the list of holidays */
    .holidays ul {
        list-style-type: none;
        padding: 0;
    }

    .holidays li {
        margin-bottom: 10px;
    }

/* Responsive Styles */
@media (max-width: 768px) {
    .calendar {
        width: 100%;
    }

    .table {
        width: 100%;
    }
}
