@page "/lister"

@using Data

<h1>MærkeDage Lister</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Holiday Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var holiday in holidays)
        {
            <tr>
                <td>@(holiday.Date.ToString("MMMM d, yyyy")[0].ToString().ToUpper() + holiday.Date.ToString("MMMM d, yyyy").Substring(1))</td> 
                <td>@holiday.LocalName</td>
            </tr>
        }
    </tbody>
</table>

@code {
        private List<Holiday> holidays = new List<Holiday>();
        protected int year = 2023;
        protected string CountryCode = "DK";

        public List()
        {

        }

        protected override async Task OnInitializedAsync()
        {
            // Fetch holidays from the API
            holidays = await GetHolidaysAsync();

            }

            private async Task<List<Holiday>> GetHolidaysAsync()
            {
            using var httpClient = new HttpClient();
            var response = await httpClient.GetFromJsonAsync<List<Holiday>>($"https://date.nager.at/api/v3/PublicHolidays/{year}/{CountryCode}");

            return response;
        }
}

